html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#app, .map-container {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: block;
    background-color: #000000;
}